.navbar {
    margin-bottom: 3rem;
}

.panzoomer {
    margin-bottom: 1rem;
}

footer {
    margin-bottom: 1rem;
}

#search-results li img {
    max-width: 64px;
    max-height: 64px;
}

@media only screen and (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}