.navbar {
    margin-bottom: 3rem;
}

.searchform label {
    width: 100%;
}

.panzoomer {
    margin-bottom: 1rem;
    width: 100%;
}

.panzoomer button,
.panzoomer input {
    margin-left: .8em;
}

input.zoom-range {
    width: 100%;
}

.collection-image {
    width: 100%;
    margin-bottom: 1em;
}

.collection-image img {
    margin: 0 auto;
    max-height: 800px;
}

.object-details {
    margin-bottom: 1em;
}

footer {
    margin-bottom: 1rem;
}

#search-results li img {
    max-width: 64px;
    max-height: 64px;
}

@media only screen and (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}