body {
    margin: 0px auto;
    background-color: #666;
    font-family: arial,helvetica,sans-serif;
    color: #fff;
}

body.page-engaging-digital-tibet {
    background-color: #000;
}

a:link,
a:visited,
nav.navbar-inverse .navbar-nav li a {
    text-decoration: none;
}

a:link,
a:visited,
nav.navbar-inverse .navbar-nav li a,
.object-title {
    color: #E9B34A;
}

.object-title {
    font-weight: bold;
}

nav.navbar-inverse {
    background-color: #000;
}

nav.navbar-inverse .navbar-text {
    color: #fff;
}

ul.primary-links {
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 10px;
    float: right;
    position: relative;
    z-index: 4;
    color: #FFF;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #666 #666;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

ul.links li, ul.inline li {
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
}
ul.primary-links li {
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
}
ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0px 0.5em;
}

ul.primary-links li a:hover, ul.primary-links li a.active {
    color: #E9B34A;
    text-decoration: underline;
}

ul.secondary-links {
    width: 100%;
    background: #333 none repeat scroll 0% 0%;
    height: 40px;
    padding: 0px;
    float: left;
    clear: left;
    position: relative;
    z-index: 4;
}

ul.secondary-links li {
    margin: 0px;
    padding: 0px;
    float: right;
    background-image: none;
}

.collection-image img {
    max-width: 500px;
    max-height: 500px;
}

.panzoomer {
    color: #000;
}

.object-preview-image {
    margin-right: 10px;
}

.object-preview-image img {
    max-width: 200px;
    max-height: 200px;
}