<article class="li">
  <header>
    <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
  </header>
  <div class="body">
      {{ if .Truncated }}{{ .Summary }}{{ else }}{{ .Content }}{{ end }}
      {{ if .Params.thumbnail }}
      <div class="media">
          <img src="{{.Site.Params.awsUrl}}objects/{{.Params.thumbnail}}"
               class="media-object"
               alt="Image of {{ .Title }}">
      </div>
      {{ end }}
  </div>

  {{ if .Truncated }}
  <footer>
    <a href="{{ .Permalink }}" class="btn btn-default">Read More…</a>
  </footer>
  {{ end }}
</article>
