<article class="li">
  <header>
    <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
  </header>
  <div class="body">
      {{ if .Truncated }}{{ .Summary }}{{ else }}{{ .Content }}{{ end }}
      {{ if .Params.thumbnail }}
          <a href="{{ .Permalink }}">
              <img src="{{.Site.Params.awsUrl}}objects/{{.Params.thumbnail}}"
                   alt="Image of {{ .Title }}">
          </a>
      {{ end }}
  </div>

  {{ if .Truncated }}
  <footer>
    <a href="{{ .Permalink }}" class="btn btn-default">Read More…</a>
  </footer>
  {{ end }}
</article>
