      </div>
    </div>

    <footer class="site">
        <div class="container">
            <a href="http://ctl.columbia.edu/">
                <img width="220" src="/img/logo-ctl-black.png">
            </a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/lib/jquery.panzoom.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/lib/image-promise.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/src/panzoomer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="{{ .Site.BaseURL }}js/lib/lunr.js"></script>
    <script src="{{ .Site.BaseURL }}js/src/search.js"></script>
    <!-- JS for cookie policy -->
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>    
  </body>
</html>
