<!doctype html>
<html lang="en">
    <head>
        <title>Engaging Digital Tibet: {{ .Title }}</title>
        <link href="{{ .Site.BaseURL }}css/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <header id="header">
            <div id="ccnmtl-rules">
                <a href="http://ccnmtl.columbia.edu/">
                    <img src="../img/logo_ccnmtl.gif">
                </a>
            </div>
            <div id="logo-floater">
                <h1>
                    <a href="/" title="Engaging Digital Tibet">
                        <img src="../img/logo.png" alt="Engaging Digital Tibet" id="logo">
                        <span>Engaging Digital Tibet</span>
                    </a>
                </h1>
            </div>
            <ul class="links primary-links soft-menu">
                <li class="first last menu-1-1-105-active">
                    <a href="/help" class="menu-1-1-105-active active">Help</a>
                </li>
            </ul>

        </header>
