<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Engaging Digital Tibet: {{ .Title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="{{ .Site.BaseURL }}css/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/" title="Engaging Digital Tibet">
                <img src="../img/logo.png" alt="Engaging Digital Tibet" id="logo">
            </a>
            <div class="pull-right">
                <ul class="links primary-links soft-menu">
                    <li class="first last">
                        <a href="/help">Help</a>
                    </li>
                </ul>
                <div id="ccnmtl-rules">
                    <a href="http://ccnmtl.columbia.edu/">
                        <img src="../img/logo_ccnmtl.gif">
                    </a>
                </div>
            </div>
        </nav>


        <div class="container">
