<div class="container">
    <div class="row">
        <div class="form-group col">
            <label>
                Search
                <input class="form-control" type="search" id="q">
            </label>
        </div>

        <div class="form-group col">
            <label>
                Date
                <select class="form-control dt-date">
                    <option value="">All</option>
                </select>
            </label>
        </div>

        <div class="form-group col">
            <label>
                Cultural Region
                <select class="form-control dt-cultural-region">
                    <option value="">All</option>
                </select>
            </label>
        </div>

        <div class="form-group col">
            <label>
                Source
                <select class="form-control dt-source">
                    <option value="">All</option>
                </select>
            </label>
        </div>

        <div class="form-group col">
            <label>
                Object use
                <select class="form-control dt-object-use">
                    <option value="">All</option>
                </select>
            </label>
        </div>
    </div>
</div>
