<aside class="site">
    <div class="form-group">
        <label>
            Search
            <input class="form-control" type="search" id="q">
        </label>
    </div>

    <div class="form-group">
        <label>
            Date
            <select class="form-control dt-date">
                <option value="">All</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Cultural Region
            <select class="form-control dt-cultural-region">
                <option value="">All</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Source
            <select class="form-control dt-source">
                <option value="">All</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Object use
            <select class="form-control dt-object-use">
                <option value="">All</option>
            </select>
        </label>
    </div>
</aside>
