{{ partial "default_head.html" . }}

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 class="navbar-text">Examining Object</h3>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/object/">Explore Collection</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="page-content container">
    <div class="collection-image col-md-8">
        <img src="https://s3.amazonaws.com/ccnmtl-digitaltibet-static-stage/{{.Params.image}}">

    </div>
    {{ .Content }}
    <div class="panzoomer pull-right">
        <div class="buttons">
            <button class="zoom-in">Zoom In</button>
            <button class="zoom-out">Zoom Out</button>
            <input type="range" class="zoom-range" step="0.05" min="0.4" max="5">
            <button class="reset">Reset</button>
        </div>
    </div>
    <div class="object-details pull-right">
        <h3>Object Details</h3>
        <h4 class="object-title">{{.Title}}</h4>
        {{ if and (isset .Params "object_use") (ne .Params.object_use "")}}
        <div><strong>Object Use:</strong> {{.Params.object_use}}</div>
        {{ end }}
        {{ if and (isset .Params "material") (ne .Params.material "")}}
        <div><strong>Material:</strong> {{.Params.material}}</div>
        {{ end }}
        {{ if and (isset .Params "date_range") (ne .Params.date_range "")}}
        <div><strong>Date Range:</strong> {{.Params.date_range}}</div>
        {{ end }}
        {{ if and (isset .Params "size") (ne .Params.size "")}}
        <div><strong>Size:</strong> {{.Params.size}}</div>
        {{ end }}
        {{ if and (isset .Params "source") (ne .Params.source "")}}
        <div>
            <strong>Source:</strong>
            {{.Params.source|safeHTML}}
        </div>
        {{ end }}
        {{ if and (isset .Params "notes") (ne .Params.notes "")}}
        <div>
            <strong>Notes:</strong>
            {{.Params.notes}}
        </div>
        {{ end }}
    </div>
</div>

{{ partial "default_foot.html" . }}
