{{ partial "header.html" . }}

<div id="home_container">

    <div id="left"></div>
    <div id="home_right">
        <div id="featured-head"><a href="/collection/all"><div id="featured_button"></div></a><h2>Featured Object</h2></div>
        <div id="arrow2"> <a id="next_arrow_link" href="#"><img src="/sites/digitaltibet.ccnmtl.columbia.edu/themes/tibetan/images/next_arrow.gif" /></a></td>

    </div>
    <div id="arrow1"><a id="previous_arrow_link" href="#"><img src="/sites/digitaltibet.ccnmtl.columbia.edu/themes/tibetan/images/previous_arrow.gif" /></a></div>
    <div id="content-wrapper">
        <div id="object">


            <img src="testimage500x500.jpg" /></div>

    </div>

    <div id="featured_metadata">
    </div>

</div>
<div id="middle">
    <div class="content"><h2>About This Site</h2>
        <p>
            Engaging Digital Tibet was created to enhance the teaching and learning of Tibetan material history. The site contains an advanced, searchable repository of Tibetan objects, as well as unique features for creating and sharing descriptive annotations about the objects and their significant parts, allowing for a collaborative decoding and description of Tibetan culture itself.</td>
    </p>
    <br /><h2>Special Thanks To</h2>


    <ul class="menu">
        <li class="leaf"><a href="http://www.sdrubin.org/">The Shelley &amp; Donald Rubin Foundation</a></li>
        <li class="leaf"><a href="http://www.rmanyc.org">The Rubin Museum of Art </a></li>
        <li class="leaf"><a href="http://www.himalayanart.org/">Himalayan Art Resources</a></li>
        <li class="leaf"><a href="http://www.columbia.edu/cu/lweb/indiv/eastasian/index.html">C. V. Starr East Asian Library</a></li>

    </ul>
</div></div>

{{ partial "footer.html" . }}
