{{ partial "default_head.html" . }}
<div class="index">

    <div class="row">
        {{ partial "searchform.html" . }}

        <div class="main-content">
            <div id="search-results">
                <ul class="list-unstyled"></ul>
            </div>

            {{ partial "pagination.html" . }}
            <div class="card-columns">
                {{ range .Paginator.Pages }}
                    {{ .Render "card" }}
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
        </div>
    </div>

</div>
{{ partial "default_foot.html" . }}
