{{ partial "header.html" . }}

<div class="page-main-title index-page-main-title">
    <div class="container mobile-xs">
        <h1>Exploring the Collection</h1>
        <div class="container-fluid index-navbar-container">
            <div id="index-list-navbar">
                <ul class="nav navbar-nav nav-pills" id="nav-index-list"></ul>
            </div>
        </div>
    </div>
</div>

<div class="index-side-navbar-container">
    <div id="index-list-navbar">
        <ul class="nav navbar-nav nav-pills side-nav-index-list" id="nav-index-list"></ul>
    </div>
</div>


<div>
    {{ range .Data.Pages.ByTitle }}
    <!-- The following cannot have a line-break for the script to work -->
    <div class="list-item">
        <div class="object-preview-image pull-left">
            <a href="{{.Permalink}}">
                <img src="https://s3.amazonaws.com/ccnmtl-digitaltibet-static-stage/{{.Params.image}}">
            </a>
        </div>
        <div class="item-title">
            <a href="{{.Permalink}}">{{.Title}}</a>
        </div>

        {{ if and (isset .Params "object_use") (ne .Params.object_use "")}}
        <div><strong>Object Use:</strong> {{.Params.object_use}}</div>
        {{ end }}
                {{ if and (isset .Params "material") (ne .Params.material "")}}
        <div><strong>Material:</strong> {{.Params.material}}</div>
        {{ end }}
        {{ if and (isset .Params "date_range") (ne .Params.date_range "")}}
        <div><strong>Date Range:</strong> {{.Params.date_range}}</div>
        {{ end }}
        {{ if and (isset .Params "size") (ne .Params.size "")}}
        <div><strong>Size:</strong> {{.Params.size}}</div>
        {{ end }}
        {{ if and (isset .Params "source") (ne .Params.source "")}}
        <div>
            <strong>Source:</strong>
            {{.Params.source|safeHTML}}
        </div>
        {{ end }}
        {{ if and (isset .Params "notes") (ne .Params.notes "")}}
        <div>
            <strong>Notes:</strong>
            {{.Params.notes}}
        </div>
        {{ end }}

        <div class="item-summary">
            {{ if .Params.termsummary }}
            <p>
                {{.Params.termsummary }}
            </p>
            {{else}}
            {{.Summary}}
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}
